<html>
  <head></head>

  <body>
    <div id="content">
      <div class="item-input-container"></div>
      <div class="item-list-container"></div>
    </div>

    <script id="itemInputTemplate" type="text/template">
      <form class="item-input-form" action="/">
        <input class="description-input" type="text" placeholder="item description" />
        <input type="submit" value="+" />
      </form>
    </script>
    <script id="itemListTemplate" type="text/template">
      <ul class="item-list">
        <% _.each(items, function(el, i) { %>
          <li><%= el.get('description') %></li>
        <% }) %>
      </ul>
    </script>
    <script id="itemTemplate" type="text/template"></script>

    <script src="js/jquery.min.js"></script>
    <script src="js/lodash.min.js"></script>
    <script src="js/backbone-min.js"></script>
    <script>
      
      (function(root, View) {

        root.ItemInputView = View.extend({
          initialize: function() {
            var self = this;

            this.on('reset', function() {
              self._reset();
            });
          },

          events: {
            'click .item-input-form input[type=submit]': '_onFormSubmit'
          },
          
          render: function() {
            var html = $('#itemInputTemplate').html(),
                tmpl = _.template(html);

            this.$el.append(tmpl());
          },

          _reset: function() {
            var $el = this.$el;
            $el.find('.description-input').val('').focus();
          },

          _onFormSubmit: function(e) {
            e.preventDefault();
            var data = this._collectData();
            this.trigger('itemInput:submit', data);
          },

          _collectData: function() {
            var $el = this.$el;
            return { 
              description: $el.find('.description-input').val()
            };
          }
        });

        root.ItemListView = View.extend({
          initialize: function() {
            this._bindEvents();
          },

          render: function() {
            this.template = this.template || _.template($('#itemListTemplate').html());
            this.$el.append(this.template({ 
              items: this.collection.models
            }));
          },

          clear: function() {
            this.$el.empty();
          },

          _bindEvents: function() {
            var self = this;
            this.listenTo(this.collection, 'add', function(e) {
              self.clear();
              self.render();
            });
          }
        });

        root.ItemView = View.extend({
          render: function() {
            this.$el.append('This is the item view');
          }
        });

      })(window, Backbone.View);

      (function($) {
        $(function() {

          var itemInputView,
              itemListView;

          itemInputView = new ItemInputView();
          itemInputView.render();
          $('.item-input-container').append(itemInputView.el);
          
          var coll = new Backbone.Collection([
            {
              description: "Description #1"
            },
            {
              description: "Description #2"
            },
            {
              description: "Description #3"
            }
          ]);
          itemListView = new ItemListView({
            collection: coll
          });
          itemListView.render();
          $('.item-list-container').append(itemListView.el);

          itemInputView.on('itemInput:submit', function(formData) {
            coll.add(formData);
            itemInputView.trigger('reset');
          });
        });
      })(jQuery);

    </script>

  </body>

</html>